// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-primary;
}

.form-control {
  box-shadow: none!important;
}

.gform_wrapper .gform_fields {
  list-style: none;
  padding-left: 0;
  @extend .row;
  ul {
    list-style: none;
    padding-left: 0;
  }

  > li.gfield {
    margin-bottom: $form-group-margin-bottom;
    padding-left: 15px;
    padding-right: 15px;
    clear: left;
    overflow: hidden;
    &.gf_left_half.gf_left_half,
    &.gf_right_half.gf_right_half {
      width: 50%!important;
      margin-right: 0!important;
      margin-left: 0!important;
      float: left;
      clear: none;
    }
    &.gf_left_half.gf_left_half { clear: left; }
    &.gf_left_third,
    &.gf_middle_third,
    &.gf_right_third {
      width: 33.3333%!important;
      margin-right: 0!important;
      margin-left: 0!important;
      float: left;
      clear: none;
    }
    &.gf_left_third { clear: left; }
  }

  > li.gfield .ginput_complex {
    margin-left: -15px;
    margin-right: -15px;
    > span {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
    }
    .ginput_full { clear: left; }
    .ginput_left,
    .ginput_right {
      float: left;
      width: 50%;
    }
    .ginput_left { clear: left; }
  }

  > li.gfield .ginput_complex {
    .name_prefix { width: 120px; }
    .name_suffix { width: 33.3333%; }
    .name_first,
    .name_last {
      float: left;
      width: 50%;
    }

    &.has_middle_name {
      .name_first,
      .name_middle,
      .name_last {
        float: left;
        width: 33.3333%;
      }
    }

  }

  .ginput_container_time {
    display: block;
    padding-right: 30px;
    float: left;
    width: 120px;
  }

  input:not([type='checkbox']):not([type='radio']):not([type='file']),
  select,
  textarea {
    @extend .form-control;
    width: 100%!important;
  }

  input[type='checkbox'],
  input[type='radio'] {

  }

  textarea {
    height: auto;
  }

  .ginput_container_multiselect select {
    height: 100px;
  }

  input[type=checkbox], input[type=radio] {
    position: relative;
    top: 2px;
  }

  .gsection {
    padding-bottom: 0;
    margin-top: 45px;
  }

}

.gform_wrapper div.validation_error {
  @extend .alert;
  @extend .alert-danger;
  font-weight: normal;
  width: 100%;
  font-size: $font-size-base;
}

.gfield_error .validation_message {
  color: $alert-danger-text;
}

.gform_button {
  @extend .btn;
}

.gfield_required {
  color: $alert-danger-text;
  display: inline-block;
  margin-left: 4px;
  font-weight: bold;
}

.gform_validation_container {
  display: none;
}

.gf_progressbar_wrapper {
  @extend .progress;
  .gf_progressbar_title {
    display: none;
  }
  .gf_progressbar .gf_progressbar_percentage {
    @extend .progress-bar;
  }
}

.gform_wrapper .gform_page_footer {
  width: 100%;
  border: none;
  .button.gform_next_button {
    float: right;
    margin-right: 0;
  }
}

.gfield_description,
.ginput_container label {
  font-size: $font-size-small;
  letter-spacing: 0;
  font-weight: normal;
  padding: 6px 6px 0;
  margin-bottom: 0;
}

.gform_wrapper .gfield_time_hour i {
  display: none;
}
