
a { transition: all 0.2s; }
img { max-width: 100%; height: auto; }
body { overflow-y: scroll; position: relative; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 12px;
  * + & { margin-top: 44px; }
}

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}
h6, .h6 {}

@media (min-width: $screen-md) {
  h1, .h1 { font-size: 60px; }
  h2, .h2 { font-size: 32px; }
  h3, .h3 { font-size: 28px; }
  h4, .h4 { font-size: 22px; }
  h5, .h5 { font-size: 16px; }
  h6, .h6 { font-size: 13px; }
}


.fa-search:before {
  font-family: fontawesome;
  content: '\f002';
  font-style: normal;

}
