
a { transition: all 0.2s; }
img { max-width: 100%; height: auto; }
body { overflow-y: scroll; position: relative; -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
}

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}
h6, .h6 {}

body.admin-bar {
  .navbar-fixed-top {
    margin-top: 32px;
    @media (max-width: 782px) {
      margin-top: 44px;
    }
  }
}
