
.shop {
  .main {
    @include make-col-ready();
  }
  .sidebar {
    @include make-col-ready();
    font-size: $font-size-sm;
  }
  @include media-breakpoint-up(md) {
    .main {
      @include make-col(9);
    }
    .sidebar {
      @include make-col(3);
    }
  }
}

.woocommerce-sorting {
  font-size: $font-size-sm;
  text-align: center;
  .woocommerce-ordering {
    @include make-col-ready();
  }
  .woocommerce-result-count {
    @include make-col-ready();
  }
  .woocommerce-pagination {
    @include make-col-ready();
  }
  @include media-breakpoint-up(md) {
    text-align: left;
    .woocommerce-ordering {
      @include make-col(4);
    }
    .woocommerce-result-count {
      @include make-col(4);
    }
    .woocommerce-pagination {
      @include make-col(4);
      .page-numbers {
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
      }
    }
  }
}

.product_meta { font-size: $font-size-sm; }
